* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 1rem ahora es igual a 10px */
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

body {
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "form imc";
  gap: 20px;
  align-content: center;
  justify-content: center;
  background: rgb(174, 171, 226);
  background: linear-gradient(90deg,
      rgba(174, 171, 226, 1) 0%,
      rgba(55, 82, 161, 1) 35%,
      rgba(18, 49, 131, 1) 63%,
      rgba(56, 109, 139, 0.958420868347339) 100%);
}

/* Estilos del titulo */
.titulo {
  grid-area: titulo;
  margin-top: 25px;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
}

.contenedor-sections {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #007bff91;
  padding: 2rem;
  display: inline-block;
}

/* estilos del formulario */
.calculadora-imc {
  grid-area: form;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 300px;
  max-width: 300px;
}

.calculadora-imc label {
  font-size: 1.2rem;
  color: #ccc;
}

.calculadora-imc input[type="text"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: 1px solid #0e0246;
  font-size: 1rem;
}

/* estilos de la imagen */
.imagen {
  position: relative;
  height: 250px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-width: 300px;
  max-width: 300px;
}

/*  formaro barra del input */

.calculadora-imc input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.calculadora-imc input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 15px;
  height: 15px;
  background: rgba(18, 49, 131, 1);
  border-radius: 50%;
  cursor: pointer;
}

/* estilos del boton */
.calculadora-imc button {
  margin: 10px auto;
  width: 100px;
  background-color: #96085f;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  cursor: pointer;
}

.calculadora-imc button:hover {
  font-weight: bold;
  box-shadow: 0 5px 5px 5px rgba(13, 3, 59, 0.5);
  transition: 0.2s;
  cursor: pointer;
}

.calculadora-imc button:focus {
  background-color: #e30990;
  font-weight: bold;
  box-shadow: 0 5px 5px 5px rgba(13, 3, 59, 0.5);
  transition: 0.1s;
  cursor: pointer;
}

/* formato de la descripcion del IMC */

.imc {
  margin-top: 10px;
  grid-area: imc;
  text-align: justify;
  color: #fff;
  margin: 0 auto;
  min-width: 200px;
  max-width: 200px;
}

.imc h2 {
  font-size: 1.4rem;
  text-decoration: underline;
  text-align: center;
}

.imc p {
  margin-top: 20px;
  font-size: 1.1rem;
}

.resultado-imc {
  font-size: 2rem;
}

/* estilos para formato tipo movil */

@media only screen and (max-width: 425px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

.hidden {
  display: none;
}

.container-resultados {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#descipcion-resultado {
  color: white;
  margin-top: 10px;
  grid-area: imc;
  text-align: justify;
  margin: 0 auto;
  min-width: 200px;
  max-width: 300px;
}