*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
form{
    position: relative;
    top: 5%;

}
input{
    border-radius: 5px;
    color: rgb(99, 99, 99);
}
img{
    border-radius: 10px;
}
input:hover{
    border-color: rgb(106, 0, 255);
    transition: .5s;
}
